.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  transition: all 0.2s ease-in-out 0s;
  z-index: 10;
}

.header[data-scroll='true'],
.header[data-open='true'] {
  background-color: var(--mantine-color-white);
}

.header[data-scroll='true'][data-open='false'] {
  box-shadow: var(--mantine-shadow-md);
}

.logo {
  height: rem(24px);
  width: auto;

  @media (min-width: $mantine-breakpoint-sm) {
    height: rem(42px);
  }
}

.main {
  width: 100%;
  padding-top: var(--header-height);
}

.content {
  padding: var(--mantine-spacing-md) 0;

  @media (min-width: $mantine-breakpoint-sm) {
    display: flex;
    gap: var(--mantine-spacing-xl);
  }
}

.nav {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--nav-width);
  height: calc(100% - var(--header-height));

  @media (min-width: $mantine-breakpoint-sm) {
    flex: 0 0 var(--nav-width);
    position: sticky;
    top: calc(var(--header-height) + var(--mantine-spacing-md));
  }
}

.nav[data-mobile='true'] {
  transition: all 0.2s ease-in-out 0.1s;
  transform: translateX(-100%);
  opacity: 0;
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-white);
}

.nav[data-mobile='true'][data-open='true'] {
  opacity: 1;
  transform: translateX(0%);
}

.outlet {
  @media (min-width: $mantine-breakpoint-sm) {
    flex-grow: 1;
  }
}

.aside {
  width: var(--aside);
  padding: var(--mantine-spacing-md);
}

.footer {
  position: fixed;
  height: var(--footer);
  width: 100%;
  bottom: var(--navbar);
  background-color: var(--mantine-color-smartlarm-9);

  @media (min-width: $mantine-breakpoint-sm) {
    bottom: 0;
  }
}
