.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  transition: all 0.2s ease-in-out 0s;
  z-index: 10;
  padding: 0 var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-sm) {
    padding: 0 0 0 var(--mantine-spacing-lg);
  }
}

.header[data-scroll='true'][data-mobile='true'],
.header[data-open='true'] {
  background-color: var(--mantine-color-white);
  box-shadow: var(--mantine-shadow-sm);
}

.desktopHeader {
  transition: all 0.2s ease-in-out 0s;
  height: 100%;

  @media (min-width: $mantine-breakpoint-sm) {
    border-radius: 0 0 0 var(--mantine-radius-lg);
    padding: 0 var(--mantine-spacing-lg) 0 var(--mantine-spacing-sm);
  }
}

.desktopHeader[data-scroll='true'] {
  @media (min-width: $mantine-breakpoint-sm) {
    box-shadow: var(--mantine-shadow-sm);
    background-color: var(--mantine-color-white);
  }
}

.logo {
  height: rem(24px);
  width: auto;

  @media (min-width: $mantine-breakpoint-sm) {
    height: rem(34px);
    margin-left: var(--mantine-spacing-xs);
    margin-bottom: var(--mantine-spacing-xs);
  }
}

.nav {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--nav-width);
  height: calc(100% - var(--header-height));
  overflow: auto;
  padding-bottom: var(--mantine-spacing-xl);

  @media (min-width: $mantine-breakpoint-sm) {
    top: 0;
    height: 100%;
    z-index: 11;
    padding: var(--mantine-spacing-md);
    background-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-sm);
  }
}

.nav[data-mobile='true'] {
  transition: all 0.2s ease-in-out 0.1s;
  transform: translateX(-100%);
  opacity: 0;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md)
    var(--mantine-spacing-xl) var(--mantine-spacing-md);
  background-color: var(--mantine-color-white);
}

.nav[data-mobile='true'][data-open='true'] {
  opacity: 1;
  transform: translateX(0%);
}

.main {
  width: 100%;
  padding-top: var(--header-height);

  @media (min-width: $mantine-breakpoint-sm) {
    padding-left: var(--nav-width);
  }
}

.outlet {
  @media (min-width: $mantine-breakpoint-sm) {
    flex-grow: 1;
  }
}

.aside {
  width: var(--aside);
  padding: var(--mantine-spacing-md);
}

.footer {
  position: fixed;
  height: var(--footer);
  width: 100%;
  bottom: var(--navbar);
  background-color: var(--mantine-color-smartlarm-9);

  @media (min-width: $mantine-breakpoint-sm) {
    bottom: 0;
  }
}
