:root {
  --header-height: rem(54px);
  --nav-width: 100%;
  --footer-height: rem(200px);

  @media (min-width: $mantine-breakpoint-sm) {
    --header-height: rem(64px);
    --nav-width: rem(300px);
  }

  @media (min-width: $mantine-breakpoint-lg) {
    --nav-width: rem(340px);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    --nav-width: rem(380px);
  }
}

body {
  background-color: var(--mantine-color-gray-0);
}

.mantine-NavLink-label {
  font-size: var(--mantine-font-size-md);
}

.mantine-NavLink-children > * {
  border-left: rem(1px) solid var(--mantine-color-smartlarm-4);
}

.navIcon {
  svg {
    width: 80%;
    height: 80%;
  }
}
